* {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* HEADER */
header {
    background-image: url("img/container_bg.png");
    font-weight: bold;
    text-align: center;
    min-height: 10vh;
    border: solid 1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: orange;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
    width: 100%;
}

header img {
    width: 160px;
    height: 60px;
}

/* TABLE IMAGES */
table img {
    float: right;
    width: 120px;
    height: 80px;
    border-radius: 20px;
    transform: rotate(15deg);
    box-shadow: 0.1em 0.1em 0.05em black, 0 0 1em black, 0 0 0.2em black;
}

/* DIV SEPARATORS */
div {
    background-color: white;
    width: 100%;
    height: 5px;
}

#ult_entradas {
    background-color: rgba(245, 222, 179, 0.5);
    width: 350px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 4px 4px grey;
}

.entrada {
    background-color: rgba(245, 222, 179, 0.5);
    width: 500px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 4px 4px grey;
}

#separador_pie {
    background-color: white;
    width: 100%;
    height: 5px;
}

/* NAV */
nav {
    background-image: url("img/container_bg.png");
    min-height: 6vh;
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

nav strong {
    color: orange;
    text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
}

.titles {
    color: orange;
    text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
}

.txt {
    color: blue;
    text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em orange;
    display: block;
    break-inside: avoid;
}

.columnas {
    column-count: 4;
    column-gap: 20px;
    width: 100%;
    padding: 10px;
    margin: 0;
    list-style: none;
}

/* CONTENEDOR PRINCIPAL */
#iniciales {
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
}

/* ASIDE */
aside {
    background-image: url("img/container_bg.png");
    flex: 0 0 30%;
    min-height: 100vh;
}

aside h1 {
    text-align: center;
    color: white;
    text-shadow: 0.1px 0.1px 0.2px gray, 0 0 0.5em black, 0 0 0.1em black;
}

/* SECTION */
section {
    background-color: grey;
    flex: 0 0 0.3%;
    min-height: 100vh;
}

/* ARTICLE */
article {
    background-image: url("img/container_bg.png");
    flex: 1;
    min-height: 100vh;
    background-color: rgb(235, 192, 235);
    overflow: auto;
    padding: 20px;
}

article table {
    padding: 20px;
}

article table td {
    padding-top: 20px;
}

article table .titulo {
    color: white;
    font-size: 24px;
    text-shadow: 0.1px 0.1px 0.2px gray, 0 0 0.5em black, 0 0 0.1em black;
}

/* FOOTER */
footer {
    background-image: url("img/container_bg.png");
    clear: both;
    text-align: center;
    min-height: 10vh;
    border: solid 1px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: orange;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-style: italic;
    width: 100%;
}